html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ddd;
}

.container {
  border: 1px solid red;
}

.list-even {
  background-color: #fff;
  border: 1px solid #d8eef7;
  box-sizing: border-box;
}
.list-odd {
  background-color: #d8eef7;
  box-sizing: border-box;
}

.test {
  color: #b0b0b0;
}
.modal {
  background-color: #666;
  color: #fff;
}
.modal md-dialog-content{
  padding: 20px;
}
