<div class="">
  <div class="">
    <md-button ng-click="$ctrl.toggleView(!$ctrl.listView)">List</md-button>
    <md-button ng-click="$ctrl.showPanel($event, $ctrl.item)">Thumbnail</md-button>
    <md-content class="container" ng-class="$ctrl.listView ? 'test' : null" layout="{{ $ctrl.listView ? 'row' : 'column'}}" layout-wrap ng-class="{{ $ctrl.listView ? listView : gridView }}" layout-align="space-around start">
      <div class="" ng-repeat="item in $ctrl.items"
                    ng-class-odd="'list-odd'"
                    ng-class-even="'list-even'"
                    layout="{{ $ctrl.listView ? 'row' : 'column'}}"
                    layout-margin layout-align="space-around center"
                  flex-xs="100" flex-sm="45" flex-gt-sm="30">
        <div class="" flex layout-margin layout-align="space-around center" flex-xs="100" flex-sm="45" flex-gt-sm="30">{{::item.name}}</div>
        <div class="" flex ng-if="$ctrl.listView"  flex-xs="100" flex-sm="45" flex-gt-sm="30">{{::item.type}}</div>
        <div class="" hide-xs flex ng-if="!$ctrl.listView" layout-margin layout-align="space-around center" flex-xs="100" flex-sm="45" flex-gt-sm="30">{{::item.vprice}}z</div>
        <div class="" hide-xs flex layout-margin layout-align="space-around center" flex-xs="100" flex-sm="45" flex-gt-sm="30">{{::item.bprice}}z</div>
        <md-button ng-click="$ctrl.showPanel($event, $ctrl.item)">content</md-button>
      </div>
    </md-content>
  </div>
</div>
<ng-include src="$ctrl.activeView"></ng-include>
