<header layout="column" layout-fill>
  <md-toolbar md-scroll-shrink md-shrink-speed-factor="0.5">
    <h2>
      <span>Reel Builder</span>
    </h2>
    <nav>
      <md-nav-bar aria-label="Menu" layout="row" layout-xs="row">
        <md-nav-item aria-label="Menu-Systems" md-nav-sref="systems">S</md-nav-item>
        <md-nav-item aria-label="Menu-Worlds" md-nav-sref="world">W</md-nav-item>
        <md-nav-item aria-label="Menu-Items" md-nav-sref="items">I</md-nav-item>
      </md-nav-bar>
    </nav>
  </md-toolbar>
</header>

<ui-view></ui-view>
