<md-dialog aria-label="EMAIL REEL" class="modal">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-icon class="material-icon">mail_outline</md-icon>
        <h2>EMAIL REEL</h2>
        <span flex></span>
        <md-button class="mdi-icon-button" ng-click="cancel()">
          <md-icon class="material-icon" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="" flex>{{::items[2].name}}</div>
      <div class="" flex>{{ ::items[2].vprice }} z</div>
      <div class="" hide-xs flex></div>
      <div class="" hide-xs flex></div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('Not today ninja')">
       CANCEL
      </md-button>
      <md-button ng-click="answer('Sent!')">
        SEND EMAIL
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
